.marquee {
  color: var(--color-black);
  overflow: hidden;
  background-color: var(--color-black);
  height: 85px;
  display: flex;

  .track {
    display: flex;
    width: max-content;
    animation: marquee-scroll 20s linear infinite;
  }

  &:hover {
    .track {
      animation-play-state: paused;
    }
  }

  .content {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 0 20px;
  }

  .item {
    font-family: var(--font-display);
    font-weight: 900;
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    white-space: nowrap;
    color: var(--color-white);
  }

  .arrow {
    display: inline-flex;
    align-items: center;

    & svg {
      width: clamp(30px, 3vw, 40px);
      height: auto;
    }
  }
}
@media (max-width: 768px) {
  .marquee {
    .item {
      font-size: 28px;
    }

    .arrow svg {
      width: 20px;
    }
  }
}
